<br>
<div class="jumbotron">
  <h1>BlocMetrics</h1>
  <p>BlocMetrics is a resource for user analytics!</p>
</div>

<div class="row">
  <div class="col-md-4">
    <h2>Monitor Your Website.</h2>
    <p>BlocMetrics is cool.</p>
  </div>
  <div class="col-md-4">
    <h2>Track User Data</h2>
    <p>BlocMetrics is easy.</p>
  </div>
  <div class="col-md-4">
    <h2>Understand Your Audience</h2>
    <p>BlocMetrics is useful.</p>
  </div>
</div>